﻿@model MVC.Models.appointments

@{
    ViewBag.Title = "Delete";
}

<h2>Suprimer</h2>

<h3>Êtes-vous sûr de vouloir suprmier ça ?</h3>
<div>
    <h4>appointments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brokers.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brokers.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customers.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers.lastname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Suprimer" class="btn btn-default Delete" /> |
            @Html.ActionLink("Retour à la liste", "listAppointements")
        </div>
    }
</div>