﻿@model IEnumerable<MVC.Models.appointments>
@{
	ViewBag.Title = "listApointements";
}
<h2>Rendez-vous<span id="date">@DateTime.Today.ToString("dd/MM/yyyy")</span></h2>
<p class="btn img-rounded">
	@Html.ActionLink("Ajouter un Rendez-vous", "addAppointements")
</p>
<table class="table" id="TableIndex">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.dateHour)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.brokers.lastname)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.customers.lastname)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.customers.subject)
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.dateHour)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.brokers.lastname)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.customers.lastname)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.customers.subject)
			</td>
			<td>
				@Html.ActionLink("Editer", "Edit", new { id = item.idAppointment }) |
				@Html.ActionLink("Supprimer", "Delete", new { id = item.idAppointment })
			</td>
		</tr>
	}
</table>