﻿@model IEnumerable<MVC.Models.brokers>
<!--permet l'affichage des données correspondants au model choisi-->
@{
	ViewBag.Title = "listBrokers";
}

<h2>Courtiers</h2>

<p>
	@Html.ActionLink("Ajouter un nouveau Courtier", "addBrokers")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.lastname)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.firstname)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.mail)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.phoneNumber)
		</th>
	</tr>
	<!--affichage du tableau-->
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.lastname)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.firstname)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.mail)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.phoneNumber)
			</td>
			<td>
				@Html.ActionLink("Editer", "Edit", new { id = item.idBroker }) |
				@Html.ActionLink("Ajouter un RDV", "addBrokers", "appointements", new { id = item.idBroker}, null)
			</td>
		</tr>
	}
</table>