
@{
    ViewBag.Title = "Succes";
}

<div class="text-center text-success">
	<h2>Votre WWWWWAAAAAAAAAAAAHHHHHHWHAAAAAAGGGGGGGGG est un succes</h2>
	@Html.ActionLink("Retour à la liste", "listBrokers")
</div>